.no-focus:focus {
    outline-width: 0;
}

input[type='range']:focus {
    outline-width: 0;
}

svg.icon {
    width: 19px;
    height: 19px;
}

.r-howler.dark-themed.player {
    position: relative;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 45px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    background-color: rgba(26, 26, 26, 0.8);
    border-radius: 4px;
}
.r-howler.dark-themed .player-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    flex: 1 1;
}
.r-howler.dark-themed button {
    height: 100%;
    padding: 6px;
    border: none;
    fill: #fff;
    background: transparent;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px 0 0;
    box-sizing: border-box;
    -webkit-transition: background 0.1s ease-in, fill 0.1s ease-in;
    transition: background 0.1s ease-in, fill 0.1s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
}
.r-howler.dark-themed button:hover {
    background: #37adbf;
    fill: rgba(26, 26, 26, 0.8);
}
.r-howler.dark-themed .progress-bar {
    flex: 1 1;
    display: flex;
    align-items: center;
    position: relative;
}
.r-howler.dark-themed .progress-bar .progress {
    position: absolute;
    height: 5px;
    width: 100%;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    z-index: 3;
}
@supports (-moz-appearance: none) {
    .r-howler.dark-themed .progress-bar .progress {
        display: none;
    }
}
.r-howler.dark-themed .progress-bar .progress::-moz-progress-bar {
    display: none;
}
.r-howler.dark-themed .progress-bar .progress::-webkit-progress-bar {
    background-color: #000;
    border-radius: 5px;
}
.r-howler.dark-themed .progress-bar .progress::-webkit-progress-value {
    border-radius: 5px;
    background-color: #fff;
}
.r-howler.dark-themed .player-progress {
    width: 100%;
    border: 0;
    padding: 0;
    -webkit-appearance: none;
    height: 4px;
    border-radius: 4px;
    min-width: 50px;
    z-index: 2;
}
.r-howler.dark-themed .player-progress::-moz-range-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    margin: -5px 0 0;
    border-radius: 50%;
    cursor: pointer;
    border: 0 !important;
    z-index: 4;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    background: #37adbf;
}
.r-howler.dark-themed .player-progress::-ms-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    margin: -5px 0 0;
    border-radius: 50%;
    cursor: pointer;
    border: 0 !important;
    z-index: 4;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    background: #37adbf;
}
.r-howler.dark-themed .player-progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    margin: -5px 0 0;
    border-radius: 50%;
    cursor: pointer;
    border: 0 !important;
    z-index: 4;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    background: #37adbf;
}
.r-howler.dark-themed .player-progress::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    border-radius: 4px;
    cursor: pointer;
    background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(#fff), to(#000));
    background: linear-gradient(90deg, #fff, #fff var(--progress-value, 0), #000 var(--progress-value, 0));
    content: '';
}
.r-howler.dark-themed .player-progress::-moz-range-track {
    width: 100%;
    height: 5px;
    border-radius: 4px;
    cursor: pointer;
    background: #000;
}
.r-howler.dark-themed .player-progress::-ms-track {
    width: 100%;
    height: 5px;
    border-radius: 4px;
    cursor: pointer;
    background: #000;
}
.r-howler.dark-themed .player-progress::-moz-range-progress {
    height: 5px;
    border-radius: 4px;
    cursor: pointer;
    background: #fff;
}
.r-howler.dark-themed .volume-control {
    padding-right: 10px;
    display: flex;
    align-items: center;
}
.r-howler.dark-themed .volume-control .audio-bar {
    width: 100%;
    border: 0;
    padding: 0;
    -webkit-appearance: none;
    height: 4px;
    border-radius: 4px;
    min-width: 50px;
    max-width: 75px;
    background: transparent;
}
.r-howler.dark-themed .volume-control .audio-bar::-moz-range-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    margin: -5px 0 0;
    border-radius: 50%;
    cursor: pointer;
    border: 0 !important;
    z-index: 4;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    background: #37adbf;
}
.r-howler.dark-themed .volume-control .audio-bar::-ms-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    margin: -5px 0 0;
    border-radius: 50%;
    cursor: pointer;
    border: 0 !important;
    z-index: 4;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    background: #37adbf;
}
.r-howler.dark-themed .volume-control .audio-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    margin: -5px 0 0;
    border-radius: 50%;
    cursor: pointer;
    border: 0 !important;
    z-index: 4;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    background: #37adbf;
}
.r-howler.dark-themed .volume-control .audio-bar::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    border-radius: 4px;
    cursor: pointer;
    background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(#fff), to(#000));
    background: linear-gradient(90deg, #fff, #fff var(--progress-value, 0), #000 var(--progress-value, 0));
    content: '';
}
.r-howler.dark-themed .volume-control .audio-bar::-moz-range-track {
    width: 100%;
    height: 5px;
    border-radius: 4px;
    cursor: pointer;
    background: #000;
}
.r-howler.dark-themed .volume-control .audio-bar::-ms-track {
    width: 100%;
    height: 5px;
    border-radius: 4px;
    cursor: pointer;
    background: #000;
}
.r-howler.dark-themed .volume-control .audio-bar::-moz-range-progress {
    height: 5px;
    border-radius: 4px;
    cursor: pointer;
    background: #fff;
}
.r-howler.dark-themed .audio-duration {
    text-align: center;
    -webkit-padding-start: 9px;
    padding-inline-start: 9px;
    -webkit-padding-end: 9px;
    padding-inline-end: 9px;
    white-space: nowrap;
    pointer-events: none;
    cursor: default;
    color: #fff;
    font-size: 14px;
    font-variant-numeric: normal;
    text-shadow: none;
}
.r-howler.dark-themed .audio-duration .duration {
    display: inline-block;
    white-space: pre;
    color: #929292;
}
.r-howler.dark-themed .prepare {
    color: grey;
    font-weight: 700;
    font-family: monospace;
    font-size: 17px;
}
.r-howler.light-themed.player {
    position: relative;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 45px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    background-color: #fff;
    border-radius: 4px;
}
.r-howler.light-themed .player-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    flex: 1 1;
}
.r-howler.light-themed button {
    height: 100%;
    padding: 6px;
    border: none;
    fill: rgba(26, 26, 26, 0.8);
    background: transparent;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 25px 0 0;
    box-sizing: border-box;
    -webkit-transition: background 0.1s ease-in, fill 0.1s ease-in;
    transition: background 0.1s ease-in, fill 0.1s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
}
.r-howler.light-themed button:hover {
    background: #cca0d8;
    fill: #fff;
}
.r-howler.light-themed .progress-bar {
    flex: 1 1;
    display: flex;
    align-items: center;
    position: relative;
}
.r-howler.light-themed .progress-bar .progress {
    position: absolute;
    height: 5px;
    width: 100%;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    z-index: 3;
}
@supports (-moz-appearance: none) {
    .r-howler.light-themed .progress-bar .progress {
        display: none;
    }
}
.r-howler.light-themed .progress-bar .progress::-moz-progress-bar {
    display: none;
}
.r-howler.light-themed .progress-bar .progress::-webkit-progress-bar {
    background-color: #000;
    border-radius: 5px;
}
.r-howler.light-themed .progress-bar .progress::-webkit-progress-value {
    border-radius: 5px;
    background-color: #fff;
}
.r-howler.light-themed .player-progress {
    width: 100%;
    border: 0;
    padding: 0;
    -webkit-appearance: none;
    height: 4px;
    border-radius: 4px;
    min-width: 50px;
    z-index: 2;
}
.r-howler.light-themed .player-progress::-moz-range-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    margin: -5px 0 0;
    border-radius: 50%;
    cursor: pointer;
    border: 0 !important;
    z-index: 4;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    background: #fff;
}
.r-howler.light-themed .player-progress::-ms-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    margin: -5px 0 0;
    border-radius: 50%;
    cursor: pointer;
    border: 0 !important;
    z-index: 4;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    background: #fff;
}
.r-howler.light-themed .player-progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    margin: -5px 0 0;
    border-radius: 50%;
    cursor: pointer;
    border: 0 !important;
    z-index: 4;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    background: #fff;
}
.r-howler.light-themed .player-progress::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    border-radius: 4px;
    cursor: pointer;
    background: -webkit-gradient(linear, left top, right top, from(#cca0d8), color-stop(#cca0d8), to(#ccc));
    background: linear-gradient(90deg, #cca0d8, #cca0d8 var(--progress-value, 0), #ccc var(--progress-value, 0));
    content: '';
}
.r-howler.light-themed .player-progress::-moz-range-track {
    width: 100%;
    height: 5px;
    border-radius: 4px;
    cursor: pointer;
    background: #ccc;
}
.r-howler.light-themed .player-progress::-ms-track {
    width: 100%;
    height: 5px;
    border-radius: 4px;
    cursor: pointer;
    background: #ccc;
}
.r-howler.light-themed .player-progress::-moz-range-progress {
    height: 5px;
    border-radius: 4px;
    cursor: pointer;
    background: #37adbf;
}
.r-howler.light-themed .volume-control {
    padding-right: 10px;
    display: flex;
    align-items: center;
}
.r-howler.light-themed .volume-control .audio-bar {
    width: 100%;
    border: 0;
    padding: 0;
    -webkit-appearance: none;
    height: 4px;
    border-radius: 4px;
    min-width: 50px;
    max-width: 75px;
    background: transparent;
}
.r-howler.light-themed .volume-control .audio-bar::-moz-range-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    margin: -5px 0 0;
    border-radius: 50%;
    cursor: pointer;
    border: 0 !important;
    z-index: 4;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    background: #fff;
}
.r-howler.light-themed .volume-control .audio-bar::-ms-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    margin: -5px 0 0;
    border-radius: 50%;
    cursor: pointer;
    border: 0 !important;
    z-index: 4;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    background: #fff;
}
.r-howler.light-themed .volume-control .audio-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    margin: -5px 0 0;
    border-radius: 50%;
    cursor: pointer;
    border: 0 !important;
    z-index: 4;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    background: #fff;
}
.r-howler.light-themed .volume-control .audio-bar::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    border-radius: 4px;
    cursor: pointer;
    background: -webkit-gradient(linear, left top, right top, from(#cca0d8), color-stop(#cca0d8), to(#ccc));
    background: linear-gradient(90deg, #cca0d8, #cca0d8 var(--progress-value, 0), #ccc var(--progress-value, 0));
    content: '';
}
.r-howler.light-themed .volume-control .audio-bar::-moz-range-track {
    width: 100%;
    height: 5px;
    border-radius: 4px;
    cursor: pointer;
    background: #ccc;
}
.r-howler.light-themed .volume-control .audio-bar::-ms-track {
    width: 100%;
    height: 5px;
    border-radius: 4px;
    cursor: pointer;
    background: #ccc;
}
.r-howler.light-themed .volume-control .audio-bar::-moz-range-progress {
    height: 5px;
    border-radius: 4px;
    cursor: pointer;
    background: #37adbf;
}
.r-howler.light-themed .audio-duration {
    text-align: center;
    -webkit-padding-start: 9px;
    padding-inline-start: 9px;
    -webkit-padding-end: 9px;
    padding-inline-end: 9px;
    white-space: nowrap;
    pointer-events: none;
    cursor: default;
    color: rgba(26, 26, 26, 0.8);
    font-size: 14px;
    font-variant-numeric: normal;
    text-shadow: none;
    margin-left: 25px;
}
.r-howler.light-themed .audio-duration .duration {
    display: inline-block;
    white-space: pre;
    color: #929292;
}
.r-howler.light-themed .prepare {
    color: grey;
    font-weight: 700;
    font-family: monospace;
    font-size: 17px;
}
