body {
    margin: 10px 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: #171717;
}

table {
    width: 100%;
}

.highlighted-row {
    background-color: #cca0d8;
}

audio {
    width: 500px;
}

audio:focus {
    outline-width: 0;
}

.nav-button {
    margin: 5px;
    padding: 5px;
    display: inline-block;
    width: 150px;
    height: 50px;
    background-color: #c7c7c7;
    text-align: center;
    line-height: 50px;
}

.action-button {
    margin: 5px;
    padding: 5px;
    width: 150px;
    height: 50px;
    text-align: center;
}

.sticky-footer {
    align-self: flex-start;
    background-color: #fff;
    border: 5px solid black;
    padding: 20px;
    width: 90%;
    position: -webkit-sticky;
    position: sticky;
    bottom: 10px;
    left: 5%;
    right: 5%;
    z-index: 1000;
}

.neighbor {
    display: inline-block;
    margin: 5px;
}

.short-text {
    white-space: nowrap;
    overflow: hidden;
    text-wrap: ellipsis;
    width: 240px;
    height: 20px;
}

.alternate {
    background-color: #c7c7c7;
}

.list-item-text {
    padding: 5px 5px 5px 5px;
}

.list-item-text:hover {
    background-color: #878787;
    cursor: pointer;
}

.centered {
    text-align: center;
}

.list-grid {
    display: flex;
    flex-wrap: wrap;
}

.list-item {
    width: 225px;
    height: 225px;
    background-color: #e7e7e7;
    border: 2px solid black;
    margin: 2px;
    padding: 2px;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
    font-size: 14px;
}

.cover-art-medium {
    width: 150px;
    height: 150px;
    border: 1px solid #606060;
}

.cover-art-small {
    width: 250px;
    height: 250px;
    border: 1px solid #606060;
}

.list-item-small {
    width: 350px;
    height: 50px;
    line-height: 50px;
    background-color: #e7e7e7;
    border: 2px solid black;
    margin: 2px;
    padding: 2px;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
}
