html {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: 100%;
    overflow-x: hidden;
}

.page-wrapper {
    margin-bottom: 350px;
}

.sticky-footer {
    background-color: #fff;
    border: 5px solid black;
    padding: 20px;
    width: 400px;
    height: 300px;
    z-index: 1000;
    position: -webkit-sticky;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

a {
    text-decoration: none;
    color: #171717;
}

table {
    width: 90%;
}

.compact-table {
    width: 25%;
}

.no-focus:focus {
    outline-width: 0;
}

input[type='range']:focus {
    outline-width: 0;
}

.highlighted-row {
    background-color: #cca0d8;
}

.seek-range {
    width: 100%;
    height: 40px;
}

.volume-range {
    width: 50px;
    height: 40px;
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
}

.audio-button {
    width: 50px;
    height: 50px;
    font-size: 25px;
    color: #cca0d8;
}

.audio-duration {
    width: 100%;
    height: 40px;
}

.google-cast {
    width: 24px;
    height: 24px;
    padding: 5px;
    margin-left: 10px;
}

.google-cast:hover {
    background-color: #cca0d8;
    border-radius: 4px;
}

.nav-button {
    margin: 5px;
    padding: 5px;
    display: inline-block;
    width: 150px;
    height: 50px;
    background-color: #c7c7c7;
    text-align: center;
    line-height: 50px;
}

.action-button {
    margin: 5px;
    padding: 5px;
    width: 150px;
    height: 50px;
    text-align: center;
}

.neighbor {
    display: inline-block;
    margin: 5px;
}

.short-text {
    white-space: nowrap;
    overflow: hidden;
    text-wrap: ellipsis;
    width: 240px;
    height: 20px;
}

.large-button {
  width: 200px;
  height: 100px;
  font-size: 20px;
}

.large-text-input {
  width: 80%;
  font-size:40px;
  text-align:center;
}

.truncate {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.alternate {
    background-color: #c7c7c7;
}

.list-item-text {
    padding: 5px 5px 5px 5px;
}

.list-item-text:hover {
    background-color: #878787;
    cursor: pointer;
}

.centered {
    text-align: center;
}

.list-grid {
    display: flex;
    flex-wrap: wrap;
}

.list-item {
    width: 225px;
    height: 225px;
    background-color: #e7e7e7;
    border: 2px solid black;
    margin: 2px;
    padding: 2px;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
    font-size: 14px;
}

.cover-art-medium {
    width: 150px;
    height: 150px;
    border: 1px solid #606060;
}

.cover-art-small {
    width: 100px;
    height: 100px;
    border: 1px solid #606060;
}

.list-item-small {
    width: 350px;
    height: 50px;
    line-height: 50px;
    background-color: #e7e7e7;
    border: 2px solid black;
    margin: 2px;
    padding: 2px;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
}
